@import url("https://fonts.googleapis.com/css?family=Rubik:400,600,700,800&subset=hebrew");

.sapUiMedia-Std-Desktop .sapUShellApplicationContainer.sapUShellApplicationContainerLimitedWidth {
	width: 105rem !important;
}
.text1_5{
	font-size: 1.5rem !important;
}
.text2{
	font-size: 2rem !important;
}
.colorBlack{
    color: #333333 !important;
}
.colorBlue{
	color: #3d7ab7 !important;
}
.paddingRight0_5{
	padding-right: 0.5em;
}
.heightDefault{
	height: calc(100vh - 16.5em) !important;
}
.filterBtn .sapMBtnInner{
	height			: 2.1em;
	width			: 2.1em;
	background-color: #ffffff;
	border  		: 1px spaddingTop0_5olid #e3e3e3;
}
.btnIconWhite .sapMBtnIcon{
	color: #ffffff;
}
.borderBottomGray{
	border-bottom : 1px solid #d2d2d2;
}
.btnFontWhite .sapMBtnContent{
	color: #ffffff !important;
}
.btnText1 .sapMBtnContent{
	font-size: 1rem;
}
.btnEllipseRed .sapMBtnInner{
	border-radius: 2em;
	border		 : 1px solid #cc0000 !important;
}
.btnBgBlue .sapMBtnInner{
	background-color: #0270cf !important;
	text-shadow	    : none;
}
.btnColorSizeWhite .sapMBtnContent {
	color	   : #ffffff;
	font-size  : 1rem !important;
}
.btnBgTransparent .sapMBtnInner{
	background-color: transparent !important;
	text-shadow	    : none;
}
.btnEllipseBlue .sapMBtnInner{
	border-radius: 2em;
	border		 : 1px solid #0270cf !important;
}
.blueText {
	color:#0270cf !important;
}
.btnEllipse .sapMBtnInner{
	border-radius: 2em;
	border		 : 1px solid #ffffff !important;
}

.btnEllipse .sapMBtnInner:hover{
	border-radius   : 2em;
	border		    : 1px solid #0270cf !important;
	background-color: #0270cf !important;
}

.btnEllipse .sapMBtnContent:hover {
	color: #ffffff !important;
}
.btnColorSizeBlue .sapMBtnContent {
	color	   : #0270cf;
	font-size  : 1rem !important;
}

.btnColorSizeBlue .sapMBtnContent:hover {
	color	   : #ffffff !important;
	font-size  : 1rem !important;
}
.btnBgTransparent .sapMBtnInner:hover {
    background-color: #0270cf !important;
    border-radius   : 2em;
	border		    : 1px solid #0270cf !important;
}
.paddingLeftRight1{
	padding-right: 1em !important;
	padding-left : 1em !important;
}
.paddingTopBottom0_8{
	padding-top   : 0.8em;
	padding-bottom: 0.8em;
}
.paddingTopBottom0_5{
	padding-top   : 0.5em;
	padding-bottom: 0.5em;
}
.boldFont {
	font-weight: bold;
}
.matnrColumn .sapMColumnHeaderContent {
    font-weight: bold !important;
    font-size: medium !important;
    color: #2a4f6c !important;
}
.matnrTitle .sapMTitle {
    font-weight: bold !important;
    font-size: medium !important;
    color: #2a4f6c !important;
}
.text1_6{
	font-size: 1.6rem !important;
}
.redColor{
  color: red;
}
.text1_4{
	font-size: 1.4rem !important;
}
.text1_1{
	font-size: 1.1rem;
}
.text1{
	font-size: 1rem;
}
.paddingBottom0_5{
    padding-bottom: 0.5em;
}
.paddingTop3{
	padding-top: 3em;
}
.paddingTopCell0_25 .sapMListTblCell{
	padding-top: 0.25em;
	padding-bottom: 0em !important;
}
.sapMListTbl th{
	background-color: #e9eff8 !important;
}
.sapMColumnHeader{
	justify-content: flex-start !important;
}
.iconPress .sapUiIcon{
	cursor: pointer !important;
}
.dirLTR{
	direction: ltr !important;
}
.textColor[data-textColor="Red"]{
   color:  #c00017 !important;
   font-weight:bold !important;
}
.textColor[data-textColor="Pink"]{
	color:  rgb(223, 36, 213) !important;
	font-weight:bold !important;
 }
 .textColor[data-textColor="Blue"]{
	color:  rgb(70, 43, 224) !important;
	font-weight:bold !important;
 }
.textColorInput[data-textColor="Red"] .sapMInputBaseInner{
	color:  #c00017 !important;
	font-weight:bold !important;
}
.textColorInput[data-textColor="Pink"] .sapMInputBaseInner{
	color:  rgb(223, 36, 213) !important;
	font-weight:bold !important;
}
.textColorInput[data-textColor="Blue"] .sapMInputBaseInner{
	color:  rgb(70, 43, 224) !important;
	font-weight:bold !important;
}
.btnContentPaddingLeftRight0_5 .sapMBtnIcon {
    padding-right: 0.5em;
}
.btnBgBlue .sapMBtnInner{
	background-color: #0270cf !important;
	text-shadow	    : none;
}
.hiddenFCLarrowButton .sapFFCLNavigationButton {
    overflow: hidden;
    visibility: hidden;
}
.selectWidth .sapMSF{
	width: 18rem !important;
}
.padding1End{
	padding-inline-end: 1rem;
}
.fclWidth[data-FCLWidth="TwoColumnsMidExpanded"] .sapFFCLColumnMid{
    width: 76% !important;
}
.fclWidth[data-FCLWidth="TwoColumnsMidExpanded"] .sapFFCLColumnBegin{
    width: 24% !important;
}
.fclWidth[data-FCLWidth="MidColumnFullScreen"] .sapFFCLColumnMid{
    width: 100% !important;
}
.fclWidth[data-FCLWidth="MidColumnFullScreen"] .sapFFCLColumnBegin{
    width: 0% !important;
}
.redIconDelete .sapMBtnIcon{
	color: red !important;
}